[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aws.alexa"]
	path = aws.alexa
	url = https://github.com/cran/aws.alexa
[submodule "guess"]
	path = guess
	url = https://github.com/soodoku/guess
[submodule "rdomains"]
	path = rdomains
	url = https://github.com/cran/rdomains
[submodule "tuber"]
	path = tuber
	url = https://github.com/soodoku/tuber
