[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "abbyyR"]
	path = abbyyR
	url = https://github.com/soodoku/abbyyr
	shallow = true
	registered = true
[submodule "aws.alexa"]
	path = aws.alexa
	url = https://github.com/cran/aws.alexa
	shallow = true
	registered = true
[submodule "captr"]
	path = captr
	url = https://github.com/soodoku/captr
	shallow = true
	registered = true
[submodule "clarifai"]
	path = clarifai
	url = https://github.com/soodoku/clarifai
	shallow = true
	registered = true
[submodule "guess"]
	path = guess
	url = https://github.com/soodoku/guess
	shallow = true
	registered = true
[submodule "rdomains"]
	path = rdomains
	url = https://github.com/cran/rdomains
	shallow = true
	registered = true
[submodule "tuber"]
	path = tuber
	url = https://github.com/soodoku/tuber
	shallow = true
	registered = true
[submodule "tubern"]
	path = tubern
	url = https://github.com/soodoku/tubern
	shallow = true
	registered = true
